@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-info">Cuenta Cheques</h1>
    <form method="post">
        <div class="col-6">
            <label asp-for="CheckCounter.Cantidad"></label>
        </div>
    </form>
</div>
